body {
    font-family: "Inter";
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Sticky navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    height: 90px;
}

/* Hero section */
.hero {
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 67px;
    margin-bottom: 30px;

    /* or 140% */

    text-align: center;
    letter-spacing: 0.02em;

    /* Text */

    color: #1f1f1f;
}
.get-started {
    width: 30%;
    height: 48px;
    background: rgba(203, 216, 255, 0.4);
    border-radius: 30px;
    padding-top: 12px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.get-started p {
    color: #0033cc;
}
.hero-message {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 60%;
    height: 48px;
    padding-top: 12px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-message p {
    text-align: center;
    letter-spacing: 0.05em;
    color: #1f1f1f;
}
.hero-search-box {
    background: #ffffff;
    border-radius: 5px;
    width: 40%;
    height: 48px;
    border-radius: 30px;
    padding-top: 12px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.hero-search-box ::placeholder {
    width: 245px;
    height: 19px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* Primary */
    color: #0033cc;
    opacity: 0.35;
}

/* end hero */

/* Start Navbar */
.brand-logo {
    width: 184px;
    height: 49px;
}

a.nav-link.login {
    background: #0033cc;
    border-radius: 24px;
    width: 125px;
    height: 44px;
    text-align: center;
    color: white !important;
    margin-right: 10px;
}

a.nav-link.register {
    box-sizing: border-box;
    width: 125px;
    height: 44px;
    border: 2px solid #0033cc;
    border-radius: 24px;
    color: black !important;
    text-align: center;
}

a.nav-link.nav-list {
    color: black !important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
a.nav-link.nav-list:hover {
    color: #0033cc !important;
}
a.nav-link.nav-list.nav-font-color {
    color: #0033cc !important;
}
/* End Navbar */

/* Explore Job Section Start */

.explore-job {
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

