body {
    font-family: "Inter";
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Sticky navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    height: 90px;
}

/* Hero section */
.hero {
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 67px;
    margin-bottom: 30px;

    /* or 140% */

    text-align: center;
    letter-spacing: 0.02em;

    /* Text */

    color: #1f1f1f;
}
.get-started {
    width: 30%;
    height: 48px;
    background: rgba(203, 216, 255, 0.4);
    border-radius: 30px;
    padding-top: 12px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.get-started p {
    color: #0033cc;
}
.hero-message {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 60%;
    height: 48px;
    padding-top: 12px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-message p {
    text-align: center;
    letter-spacing: 0.05em;
    color: #1f1f1f;
}
.hero-search-box {
    background: #ffffff;
    border-radius: 5px;
    width: 40%;
    height: 48px;
    border-radius: 30px;
    padding-top: 12px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.hero-search-box ::placeholder {
    width: 245px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* Primary */
    color: #0033cc;
    opacity: 0.35;
}

/* end hero */

/* Start Navbar */
.brand-logo {
    width: 184px;
    height: 49px;
}

a.nav-link.login {
    background: #0033cc;
    border-radius: 24px;
    width: 125px;
    height: 44px;
    text-align: center;
    color: white !important;
    margin-right: 10px;
}

a.nav-link.register {
    box-sizing: border-box;
    width: 125px;
    height: 44px;
    border: 2px solid #0033cc;
    border-radius: 24px;
    color: black !important;
    text-align: center;
}

a.nav-link.nav-list {
    color: black !important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
a.nav-link.nav-list:hover {
    color: #0033cc !important;
}
a.nav-link.nav-list.nav-font-color {
    color: #0033cc !important;
}
/* End Navbar */
/* Start Footer */

.footer-mid i {
    color: #0033cc;
}
.footer-mid p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    /* Text */
    color: #1f1f1f;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* End Footer */

/* Explore Job Section Start */

.explore-job {
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.category {
    z-index: 999;
    height: 90px;
    justify-content: center;
    display: flex !important;
    flex-direction: row !important;
    list-style-type: none;
}

.category-item {
    width: 250px;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    text-align: center;
    text-transform: capitalize;
    /* Text */
    color: #1f1f1f;
}
.category a {
    text-decoration: none;
    color: black;
}
.category-link-active {
    width: 125px;
    height: 30px;
    /* Primary */
    background: #0033cc;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
}

.category-link-active a {
    width: 96px;
    height: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}

.load-more {
    width: 10%;
    height: 48px;
    background: #0033cc;
    border-radius: 5px;
    padding-top: 12px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 60px;
}

.load-more a {
    width: 96px;
    height: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
}

.card-grid-list {
    text-align: center;
}
.card-grid-list a {
    list-style-type: none;
    text-decoration: none;
}
.card-grid-list h5 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    /* Primary */
    color: #0033cc;
}
.card-body p {
    color: #a4a4a4;
}
.job-category {
    background: #81acff;
    opacity: 0.6;
    border-radius: 20px;
    margin-right: 40px;
    padding: 5px 5px;
}
.job-nature {
    background: #9affbc;
    opacity: 0.6;
    border-radius: 20px;
    padding: 5px 5px;

}

/* END Explore Job Section */

/* Start Register Message Section */

.register-msg-img h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 67px;
    margin-bottom: 30px;
    /* or 140% */
    text-align: left;
    letter-spacing: 0.02em;
    /* Text */
    color: #1f1f1f;
}

.register-msg-img p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    /* or 212% */
    letter-spacing: 0.05em;
    text-transform: capitalize;
    /* Text */
    color: #1f1f1f;
    text-align: left;
}
.register-msg {
    position: relative;
    left: 15%;
}

.register-msg img {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translate(-50%, -50%);
}
.register-img {
    margin-left: 200px;
}

.register-today {
    width: 20%;
    height: 48px;
    background: #0033cc;
    border-radius: 5px;
    padding-top: 12px;
    margin-bottom: 30px;
    margin-top: 60px;
    text-align: center;
}

.register-today a {
    width: 100px;
    height: 19px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
}

/* End Register Message Section */

/*  Start Card Section */

.card {
    background: #ffffff;
    box-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    text-align: left;
}

/*  End Card Section*/

/*  Start All Jobs Section*/

.all-jobs-header {
    width: 1440px;
    height: 140px;
    background: #fafbff;
}

.all-jobs-header h2 {
    width: 464px;
    height: 50px;
    left: calc(50% - 464px / 2 - 268px);
    top: 64px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 50px;
    /* identical to box height, or 179% */
    letter-spacing: -0.02em;
    text-transform: capitalize;
    /* Text */
    color: #1f1f1f;
}
.all-jobs-header p {
    width: 115px;
    height: 28px;
    left: 220px;
    top: 126px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    text-align: center;
    text-transform: capitalize;
    /* Text */
    color: #1f1f1f;
}

/*  End All Jobs Section*/

/*  Start Job Show Section*/

.job-show-header {
    width: 1440px;
    height: 390px;
    left: 0px;
    top: 0px;

    background: #001833;
}
.job-show-header h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 150px;
}
.job-show-header span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}
.job-show-header a {
    /* Primary */
    background: #0033cc;
    border-radius: 8px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
}

.show-job-img {
    width: 1440px;
    height: 500px;
    background-image: url("/frontend/images/showjob.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.job-details-show-info h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: start !important;
    /* identical to box height */
    /* Text */
    color: #1f1f1f;
}

.job-details-show-info h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    /* Text */
    color: #1f1f1f;
}
.job-details-show-info p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* Text */
    color: #1f1f1f;
}
.job-details-show-info-right {
    /* Primary 2 */
    background: #daedf5;
}
.job-details-show-info-right a {
    /* Primary */
    background: #0033cc;
    border-radius: 8px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
}
.job-details-show-info-right h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    text-align: center;
    color: #000000;
}
.job-details-show-info-right-body {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin-left: 40px;
    /* or 141% */
    /* Primary */
    color: #0033cc;
}
/*  End Job Show Section*/
